<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hotmetal Operator UI</title>

        <!-- local에서 실험할 때만 쓰는 css -->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <!-- <meta http-equiv="refresh" content="2"> -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

        <script>
        	var socket = io.connect();

        	// send data to Python from html
			function robot_go(){
		    	socket.emit('status_change', "delivering");
			}

			function maint(){
		    	socket.emit('status_change', "maintenance");
			}

			// var socket = io('http://127.0.0.1:5000/index');

			// receive data to html from python
			// confirm connection (start conenction)
			socket.on('connect', function(){
				console.log("Connected");
				socket.emit("request");
			});


			socket.on("curr_deliv", function(curr_deliv){
				if(curr_deliv == null){
					console.log("curr_deliv empty")
					$('#curr_deliv_add').text(" ");
                    $('#curr_deliv_r').text(" ");
                    $('#curr_deliv_g').text(" ");
                    $('#curr_deliv_b').text(" ");
				}
				else{
					$('#curr_deliv_add').text(curr_deliv['addr']);
					$('#curr_deliv_r').text(curr_deliv['red']);
					$('#curr_deliv_g').text(curr_deliv['green']);
					$('#curr_deliv_b').text(curr_deliv['blue']);
					socket.emit("request1");
				}
			})

			socket.on("deliv_prog", function(deliv_prog){
				if(deliv_prog == null){
					console.log("deliv_prog empty")
				}
				else{
					$('#num_pending').text(deliv_prog['num_pending']);
					$('#num_compl').text(deliv_prog['num_complete']);
					$('#total_orders').text(deliv_prog['total_orders']);
					socket.emit("request2");
				}
			})

			socket.on("now_delivering", function(deliv_status){
				var table_len = deliv_status['deliv_list'].length;
				var table = $('#delivery_list');
				table.find("tbody tr").remove();

				for (var i=0; i<table_len; i++){
					table.append("<tr><td>" + deliv_status['deliv_list'][i]['addr'] + '</td><td>' + 
					 deliv_status['deliv_list'][i]['red'] + "</td><td>" + deliv_status['deliv_list'][i]['green'] + "</td><td>" + deliv_status['deliv_list'][i]['blue'] +
					 "</td><td>" + deliv_status['deliv_list'][i]['status'] + '</td></tr>')
				}
				console.log(table_len);
			})

			socket.on('loading_dock_inv', function(inv){
				if(inv == null){
					console.log("inv empty")
				}
				else{
					$('#inv_r').text(inv["red"]);
					$('#inv_g').text(inv["green"]);
					$('#inv_b').text(inv["blue"]);
					$('#inv_sum').text(inv["sum"]);
					console.log(inv);
					// socket.emit("request4");
				}
			});

			socket.on('robot_inv', function(robot_inv){
				if(robot_inv == null){
					console.log("robot inv empty")					
				}
				else{
					$('#rbinv_r').text(robot_inv["red"]);
					$('#rbinv_g').text(robot_inv["green"]);
					$('#rbinv_b').text(robot_inv["blue"]);
					$('#rbinv_sum').text(robot_inv["sum"]);
					console.log(robot_inv);
					// socket.emit("request5");
				}
			})

			socket.on('robot_status', function(robot_status){
				if(robot_status == null){
					console.log("robot robot_status null")
				}
				else{
					console.log(robot_status);
					if (robot_status == "delivering"){
						$('#status_delivering').css({"font-weight":"bold", "background-color":"blue", "color":"white"});
						$('#status_maint').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_obstacle').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_arrived').css({"font-weight":"normal", "background-color":"white", "color":"black"});
					}
					else if (robot_status == "maintenance"){
						$('#status_delivering').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_maint').css({"font-weight":"bold", "background-color":"blue", "color":"white"});
						$('#status_obstacle').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_arrived').css({"font-weight":"normal", "background-color":"white", "color":"black"});
					}
					else if (robot_status == "obstacle"){
						$('#status_delivering').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_maint').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_obstacle').css({"font-weight":"bold", "background-color":"blue", "color":"white"});
						$('#status_arrived').css({"font-weight":"normal", "background-color":"white", "color":"black"});
					}
					else{
						$('#status_delivering').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_maint').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_obstacle').css({"font-weight":"normal", "background-color":"white", "color":"black"});
						$('#status_arrived').css({"font-weight":"bold", "background-color":"blue", "color":"white"});
					}
				}
			})

		</script>


    </head>

    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index">NOZAMA - HOT METAL</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
            ><!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
<!--                     <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="False" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a> -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" style="width:130px;">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Section</div>
                            <a class="nav-link" href="index" style="background-color: #ADD8E6; color: black;"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Admin</a>
                            <a class="nav-link" href="worker"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Worker</a>

                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html"
                                ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts</a>
                                <a class="nav-link" href="tables.html"
                                ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables</a>
                        </div>
                    </div>

                </nav>
            </div>
            <div id="layoutSidenav_content" style="padding-left:150px;">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Admin UI</h1>
                        <!-- <input type="button" class="btn btn-danger" value = "SELECT" onclick="location.href='select'">SHOW DB</input> -->
                        <br>

                        <div class='card-deck', style="margin-bottom:15px; max-width:90rem;">
                            <div class="card" style="width: 200rem;">
                                <div class="card-body">
                                    <h5 class='card-title'>Robot View</h5>
                                        <img src="{{ url_for('video_feed') }}" width="320" height="240">
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class='card-title'>Robot Status</h5>
	                                    <ul id="status_delivering">delivering</ul>
	                                    <ul id="status_maint">Maintenance</ul>
	                                    <ul id="status_obstacle">Obstacle</ul>
	                                    <ul id="status_arrived">Arrived</ul>
                                    <hr>
                                    <!-- <button type="button" class="btn btn-success btn-lg btn-block">Go</button> -->
                                    <!-- <button type="button" class="btn btn-danger btn-lg btn-block">Maintenance</button> -->

                                    <input type="submit" class="btn btn-success btn-lg btn-block" name="Go" value="Go" onclick="robot_go();">
                                    <input type="submit" class="btn btn-danger btn-lg btn-block" name="Maintenance" value="Maintenance" onclick="maint();">


                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body", style="padding-bottom:1px;">
<!--                                 	<h5 class='card-title'></h5> -->
                                    <h5 class='card-title'>Current Delivery</h5>
                                       <table class="table table-bordered" id="dataTable" width="80%" , style="text-align:center;">
                                        <tbody>
                                            <tr>
                                                <td><span id='curr_deliv_add'></span></td>
                                                <td id="bgc_red"> <span id='curr_deliv_r'></span> </td>
                                                <td id="bgc_green"> <span id='curr_deliv_g'></span></td>
                                                <td id="bgc_blue"><span id='curr_deliv_b'></span> </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <hr width="340px;" size="20"> 
                                    <br>

                                    <h5 class='card-title'>Delivering Progress</h5>
                                        <ul>
                                    		<li>Pending orders: <span id='num_pending'></span> </li>
                                    		<li>Completed orders: <span id='num_compl'></span></li>
                                    		<li>Total orders: <span id='total_orders'></span></li>
                                    	</ul>

                                </div>
                            </div>


<!--                             <div class="card">
                                <div class="card-body">
                                    <h5 class='card-title'>Robot inventory</h5>
                                    <p class='card-text'><font color="red">Red: 11</font></p>
                                    <p class='card-text'><font color="blue">Blue: 2</font></p>
                                    <p class='card-text'><font color="green">Green: 8</font></p>
                                </div> -->
                               <!--  <div class="card-body">
                                    <h5 class='card-title'>Current inventory</h5>
                                    <p class='card-text'><font color="red">Red: 9</font></p>
                                    <p class='card-text'><font color="blue">Blue: 11</font></p>
                                    <p class='card-text'><font color="green">Green: 8</font></p>
                                </div> -->
                            </div>

                            <!-- Second row -->

                            <div class='card-deck', style="margin-bottom:15px; max-width:90rem;">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class='card-title'>Now Delivering (ith turn)</h5>
		                                <table class="table table-bordered" id="delivery_list" width="100%" cellspacing="0" style="text-align:center;">
		                                    <thead>
                                            <tr>
                                                <th id="bgc">address</th>
                                                <th id="bgc_red">R</th>
                                                <th id="bgc_green">G</th>
                                                <th id="bgc_blue">B</th>
                                                <th id="bgc">status</th>
                                            </tr>
                                        	</thead>

                                        	<tbody>
                                        	</tbody>
                                    	</table>

                                </div>
                            </div>
                            <div class="card" style="width: 20px;">
                                <div class="card-body">
                                	<div class="column", style="height: 300px;" >
	                                    <h5 class='card-title'>Robot inventory</h5>


	                                    <p class='card-text' >Red: <span id="rbinv_r"></span></p>
	                                    <p class='card-text' >Green: <span id="rbinv_g"></span></p>
	                                    <p class='card-text' >Blue: <span id="rbinv_b"></span></p>
	                                    <hr width="250px;" size="5"> 
	                                    <p class='card-text'>Sum: <span id="rbinv_sum"></span></p>

                            		</div>
                                    
                                     <div class="column", style="height: 300px;" >
                            			<h5 class='card-title'>Inventory</h5>
                            			<p class='card-text'>Red: <span id="inv_r"></span> </p>
	                                    <p class='card-text'>Green: <span id="inv_g"></span> </p>
	                                    <p class='card-text'>Blue: <span id="inv_b"></span> </p>
	                                    <hr width="250px;" size="5"> 
	                                    <p class='card-text'>Sum: <span id="inv_sum"></span>  </p>
	                                    <input type="button" value="update" class="btn btn-info text-center" style="float:right">
                            			
                            		</div>

                                    



                                </div>

                        </div>

                            </div>
                        </div>
                    </div>
                </div>
                </main>
                <!-- <footer class="py-4 bg-light mt-auto"> -->
                <!-- </footer> -->
            </div>
        </div>
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <!-- <script src="js/scripts.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> -->
        <!-- <script src="assets/demo/chart-area-demo.js"></script> -->
        <!-- <script src="assets/demo/chart-bar-demo.js"></script> -->
        <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script> -->
        <!-- <script src="assets/demo/datatables-demo.js"></script> -->
    </body>
</html>
