<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hotmetal Operator UI</title>

        <!-- local에서 실험할 때만 쓰는 css -->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables.css') }}" />
        <!-- <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" /> -->

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/datatables-demo.js') }}"></script> -->
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/jsquery.dataTables.min.js') }}"></script> -->
        <!-- <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script> -->

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>



        <script>
            var socket = io.connect();

            function robot_go(){
                socket.emit('delivery_status', "complete");
                $('#curr_deliv_add').text(" ");

            }
            function misdliv(){
                socket.emit('delivery_status', "misdelivery");
            }
            function load_complete(){
                socket.emit('load_complete');

                var table = $('#delivery_list');
                // table.find("tbody tr").remove();
                // table.find("tfoot").remove();
            }

            socket.on('connect', function(){
                console.log("Connected");
                socket.emit("request");
            });


            socket.on("now_delivering", function(deliv_status){
                var table_len = deliv_status['deliv_list'].length;
                var table = $('#delivery_list');
                table.find("tbody tr").remove();

                console.log("Table lent " + table_len)
                console.log("deliv_Status list: " + deliv_status['deliv_list'])

                if(deliv_status['deliv_list'][0]['status'] == 'complete'){
                    console.log("not new deliv_list yet");
                    table.find("tbody tr").remove();
                    table.find("tfoot").remove();
                }
                else{
                    $('#num_round').text(deliv_status['num_round']);

                    for (var i=0; i<table_len; i++){
                        table.append("<tr><td>" + deliv_status['deliv_list'][i]['addr'] + '</td><td>' +
                         deliv_status['deliv_list'][i]['red'] + "</td><td>" + deliv_status['deliv_list'][i]['green'] + "</td><td>" + deliv_status['deliv_list'][i]['blue'] + '</td></tr>')
                    }

                    $('#sum_r').text(deliv_status['sum']['red']);
                    $('#sum_g').text(deliv_status['sum']['green']);
                    $('#sum_b').text(deliv_status['sum']['blue']);
                }
                    // socket.emit("request5");
                // socket.emit("request3");
                var table_len = deliv_status['deliv_list'].length;
                var table = $('#delivery_list_unloader');
                table.find("tbody tr").remove();

                console.log("Table lent " + table_len)
                console.log("deliv_Status list: " + deliv_status['deliv_list'])

                for (var i=0; i<table_len; i++){
                    table.append("<tr><td>" + deliv_status['deliv_list'][i]['addr'] + '</td><td>' +
                     deliv_status['deliv_list'][i]['red'] + "</td><td>" + deliv_status['deliv_list'][i]['green'] + "</td><td>" + deliv_status['deliv_list'][i]['blue'] + '</td></tr>')
                }

                // socket.emit("request_curr")
            })


            socket.on('robot_info', function(robot_info){
                if(robot_info == null){
                    console.log("robot robot_status null")
                }
                else{
                    console.log(robot_info);
                    if (robot_info['status'] == "arrived"){
                        $('#arrive_alarm').addClass("blink-text");
                    }
                    else{
                        $("#arrive_alarm").removeClass("blink-text").css({"font-weight":"normal", "background-color":"white", "color":"white"});
                    }
                }
            })


            socket.on("curr_deliv", function(curr_deliv){
                if(curr_deliv == null){
                    console.log("curr_deliv empty")
                    // socket.emit("request1");
                }
                else{
                    console.log("curr_deliv okay")
                    // console.log("curr_deliv: " + curr_deliv)
                    var curr_addr = curr_deliv['addr'];
                    curr_addr = curr_addr.toString();
                    console.log(curr_addr);

                    var addr_list = document.getElementById("delivery_list_unloader").getElementsByTagName('td');
                    for (var i=0; i<addr_list.length; i++){
                        var tds = addr_list.item(i);
                        tds_text = tds.innerHTML;

                        if (tds_text == curr_addr){
                            console.log("found match addr");
                            console.log(tds);
                            $(tds).parent().css({
                                "background-color": "#FFC1D9"
                            });
                            break;
                        }
                        else{console.log("no match addr");}
                    }


                    // $('#curr_deliv_add').text(curr_deliv['addr']);
                    // $('#curr_deliv_r').text(curr_deliv['red']);
                    // $('#curr_deliv_g').text(curr_deliv['green']);
                    // $('#curr_deliv_b').text(curr_deliv['blue']);
                    // // socket.emit("request1");
                }
            })

        </script>
        

        <!-- <meta http-equiv="refresh" content='2'>  #refresh -->

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script> -->
        <!-- <script src="{{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js') }}"></script> -->

    </head>

    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index">NOZAMA - HOT METAL</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
            ><!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
<!--                     <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="False" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a> -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" style="width:130px;">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Section</div>
                            <a class="nav-link" href="index"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Admin</a>
                            <a class="nav-link" href="worker"style="background-color: #ADD8E6; color: black;"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Worker</a>

                        </div>
                    </div>

                </nav>
            </div>
            <div id="layoutSidenav_content" style="padding-left:150px;">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Worker UI</h1>
                        <hr width="1200px;" color="black" size="10"> 
                        <!-- <input type="button" class="btn btn-danger" value = "SELECT" onclick="location.href='select'">SHOW DB</input> -->
                        <div class="column" style="border-right-style: solid; border-color: black;">
                            <h2> Loader -- <span id="num_round"> </span> th laps</h2>
                            <table class="table table-bordered" id="delivery_list" width="100%" cellspacing="0" style="text-align:center;">
                                            <thead>
                                            <tr>
                                                <th id="bgc">address</th>
                                                <th id="bgc_red">R</th>
                                                <th id="bgc_green">G</th>
                                                <th id="bgc_blue">B</th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                                
                                            <tfoot>
                                                <td>sum</td>
                                                <td id="sum_r"></td>
                                                <td id="sum_g"></td>
                                                <td id="sum_b"></td>
                                            </tfoot>

                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                        <input type="submit" class="btn btn-info text-center" value="Complete Load", onclick="load_complete();">
                                        <!-- <input type="submit" class="btn btn-success btn-lg btn-block" name="Go" value="Go" onclick="robot_go();"> -->
                                        </div>


                        </div>

                          <div class="column">
                            <h2> Unloader </h2>

                            <br>
                            <div id="arrive_alarm"> Robot Arrived </div>
                            <br>

                            <table class="table table-bordered" id="delivery_list_unloader" width="100%" cellspacing="0" style="text-align:center;">
                                            <thead>
                                            <tr>
                                                <th id="bgc">address</th>
                                                <th id="bgc_red">R</th>
                                                <th id="bgc_green">G</th>
                                                <th id="bgc_blue">B</th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            </tbody>
                                        </table>


                            <!-- <h5 class='card-title'>Current Delivery</h5>
                                       <table class="table table-bordered" id="dataTable" width="80%" , style="text-align:center;">
                                        <tbody>
                                            <tr>
                                                <td><span id='curr_deliv_add'></span></td>
                                                <td id="bgc_red"> <span id='curr_deliv_r'></span> </td>
                                                <td id="bgc_green"> <span id='curr_deliv_g'></span></td>
                                                <td id="bgc_blue"><span id='curr_deliv_b'></span> </td>
                                            </tr>
                                        </tbody>
                                    </table> -->

                                    <div class="text-center">
                                    <input type="submit" class="btn btn-info text-center" value="Unload Complete", onclick="robot_go();">
                                    <input type="submit" class="btn btn-danger text-center" value="Misdelivery", onclick="misdliv();">
                                   <!--  <input type="submit" class="btn btn-warning text-center" value="drop", onclick=None> -->
                            
                        </div>
                    </div>
                </main>



    </body>
</html>
